@import url("https://fonts.googleapis.com/css2?family=Buenard&family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url(./base/_variables.scss);
* {
  width: 0;
  height: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif; }

header nav div a img {
  width: 10%;
  margin: 10px; }

.nav-menu ul {
  text-align: end; }
  .nav-menu ul li {
    font-family: 'Bebas Neue';
    list-style: none; }
    .nav-menu ul li a {
      text-decoration: none;
      color: #fff; }
      .nav-menu ul li a:hover {
        font-size: 20px;
        background-color: #fff;
        color: #fd7f18; }

.main .texto {
  margin-top: 85px;
  font-size: 50px;
  font-family: 'Bebas Neue';
  color: #fd7f18;
  background-image: url(../img/casa-kame.jpg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main .catalogo {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  text-align: center;
  overflow: auto; }
  main .catalogo div div a {
    text-decoration: none;
    background-color: #111111;
    color: #fff;
    padding: 5px;
    width: 90px;
    border: none;
    border-radius: 3px; }
    main .catalogo div div a:hover {
      background-color: #fd7f18;
      color: #fff;
      border: none; }

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center; }

.footer {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; }
  .footer img {
    margin: 10px;
    width: 10%; }
  .footer ul li {
    list-style: none;
    margin: 10px;
    text-align: center; }
    .footer ul li a {
      text-decoration: none;
      color: white;
      padding: 6px;
      border-radius: 3px; }
      .footer ul li a:hover {
        font-size: small;
        color: #fd7f18; }

.redes {
  margin: 10px;
  width: 20%; }
  .redes img:hover {
    width: 13%; }
