@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(./base/_variables.scss);

* {
  width: 0;
  height: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

// HEADER NAV
.nav-menu {
    nav{
        img{
            width: 10%;
            margin: 10px;
        ul{
            text-align: end;
            li{
                font-family: 'Bebas Neue';
                list-style: none;
                a{
                    text-decoration: none;
                    color: #fff;
                    &:hover{
                        font-size: 20px;
                        background-color: #fff;
                        color: rgb(253, 127, 24); 
                    }
                }
            }
        }
    }
}
}

// MAIN
.hijo-3 {
    margin-top: 120px;
}
 
.texto{
        margin-top: 85px;
        font-size: 50px;
        font-family: 'Bebas Neue';
        color: #000;
        background-image: url(../img/casa-kame.jpg);
        background-size: cover;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }


.catalogo {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    text-align: center;
    overflow: auto;
    div{
        a{
            text-decoration: none;
            background-color: #111111;
            color: #fff;
            padding: 5px;
            width: 90px;
            border: none;
            border-radius: 3px;
            &:hover{
                    background-color: rgb(253, 127, 24);
                    color: #fff;
                    border: none;
                }
        }
    }
}


.card-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

}


// FOOTER
.footer {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    img{
        margin: 10px;
        width: 10%;
        ul{
            li{
                list-style: none;
                margin: 10px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: white;
                    padding: 6px;
                    border-radius: 3px;
                    &:hover{
                        font-size: small;
                        color: rgb(253, 127, 24);
                    }
                }
            }
        }
    }
}   



.redes{
    margin: 10px;
    width: 20%;
    img:hover{
        width: 13%;
    }
}

// MEDIA QUERIE DEL FOOTER
@media screen and (max-width: 460){
    .footer{
        width: 100%;
        height: 100%;
        ul{
            flex-direction: column;
            text-align: center;
            li{
                height: auto;
                text-align: center;
            }
        }
    }
}